<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">	
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
<title>nuVun</title>
	<style type="text/css">
		.fonte{
			font-family: 'Roboto', sans-serif;
		}
	</style>

</head>
<body>
	<div th:replace="~{base :: menuSuperior}"></div>
	<div class="container">
		<div class="p-4 p-md-5 mb-3 text-white rounded" style="background-color: #264653">
			<div class="col-md-6 px-0">
				<h1 class="display-4 fst-italic">Novo pedido</h1>	
				<p class="lead my-3">Preencha o formulario abaixo</p>		
			</div>
		</div>
		<form th:object="${pedidoDto}" action="/pedido/novo" method="POST">
			<div class="mb-3 border rounded p-4 mb-4">
				<div class="mb-3">
					<label for="nomeProduto" class="form-label">Produto</label>
		   			<input type="text" th:field="*{nomeProduto}" placeholder="Nome do produto" th:errorclass="is-invalid" class="form-control" >
		   			<div id="ajudaProduto" class="form-text">Digite aqui o nome do produto</div>
		   			<div th:errors="*{nomeProduto}" class="invalid-feedback">erros</div>
				</div>
				<div class="mb-3">
					<label for="urlProduto" class="form-label">URL do produto</label>
	   				<input type="text" th:field="*{urlProduto}" th:errorclass="is-invalid" placeholder="URL do produto" class="form-control">
	   				<div id="urlProduto" class="form-text">Busque em algum site de segurança e coloque a URL dele aqui</div>
	   				<div th:errors="*{urlProduto}" class="invalid-feedback">erros</div>
				</div>
				<div class="mb-3">
					<label for="urlImagemProduto" class="form-label">URL da imagem</label>
	   				<input type="text" th:field="*{urlImagemProduto}" placeholder="URL da imagem do produto" th:errorclass="is-invalid" class="form-control">
	   				<div id="urlImagemProduto" class="form-text">Busque uma boa imagem do produto e coloque a URL dessa imagem aqui</div>
					<div th:errors="*{urlImagemProduto}" class="invalid-feedback">erros</div>
				</div>
				<div class="mb-3">
					<label for="descricaoProduto" class="form-label">Descrição do produto</label>
	   				<textarea class="form-control" th:field="*{descricaoProduto}" rows="5" placeholder="Digite aqui a descrição do produto" ></textarea>
				</div>
				<button class="btn btn-success" type="submit">Salvar</button>
			</div>
		</form>
	</div>
</body>
</html>